body {
    margin: 0px;
    margin-top: 10px;
    background-color: darkslateblue;
    text-align: center;
}

h3 {
    font-family: monospace;
    font-size: 30px;
    color: lightgray;
}

p {
    font-family: monospace;
    font-size: 15px;
    color: lightgray;
}

.box {
    width: 80px;
    height: 80px;
    background-color: beige;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 20px;
    padding-top: 20px;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    font-size: 80px;
    }

.containerBaris {
    margin-left: 35%;
    margin-right: 35%;
    background-color: transparent;
}

.start-game-button {
    margin-top: 20px;
    padding: 5px;
}